section{
    padding: 90px 260px;
    display: flex;
}

.img_box{
    width: 626px;
    height: 797px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section_1 .img_box{
    background-image: url(../../img/전시_1.jpg);
}
.text_wrap{
    /* width: 310px; */
    margin-left: 40px;
    margin-top: 159px;
}

.s_name{
    font-size: 18px;
    font-weight: 500;
    color: #A5A5A5;
    line-height: 26px;
}

.title{
    font-size: 40px;
    font-weight: 900;
    color: #1d1d1d;
    line-height: 50px;
}

.text{
    width: 100%;
}

.s_text_wrap{
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.s_title{
    width: 54px;
    height: 29px;
    border: none;
    font-size: 15px;
    font-weight: 300;
    color: #E9E9E9;
    text-align: center;
    line-height: 29px;
    background-color: #02B921;
}

.s_text{
    font-size: 16px;
    font-weight: 300;
    color: #707070;
    margin-left: 16px;
}

.text .s_text_wrap:last-child{
    margin-bottom: 34px;
}

.icon{
    width: 165px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.youtube{
    font-size: 31.5px;
    color: red;
}

.insta{
    font-size: 31.5px;
    color: #333;
}
.face{
    font-size: 31.5px;
    color: blue;
}

.plus{
    width: 162.78px;
    height: 41px;
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1d;
    text-align: center;
    line-height: 41px;
    border: 2px solid #dbdbdb;
    border-radius: 20px;
}

.plus:hover{
    background-color: lightgray;
    color: white;
}

.line{
    width: 1400px;
    height: 2px;
    border: none;
    background-color: #d2d2d2;
    margin: 0 auto;
}

.section_2 .img_box{
    background-image: url(../../img/전시_2.jpg);
}

.section_2 .text_wrap{
    margin-top: 181px;
}

.section_3 .img_box{
    background-image: url(../../img/전시_3.jpg);
}